#body {
    background: linear-gradient(#000000, #080808, #0f0f0f, #131313) ;
    padding: 3vh;
}

.row a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: 50%;
}

.title {
    font-family: "Jersey 25", sans-serif;
    color: whitesmoke;
    text-align: center;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contactItems {
    width: 90vw;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin-left: 7vw;
}

.icon {
    width: 5vh;
    height: 5vh;
    margin-right: 3vw;
    border-radius: 5px;
}

.channels {
    color: azure;
    padding-right: 3rem;
}


.map {
    height: 90vh;
    width: 40vw;
    border-radius: 15px;
    margin-right: 4rem;
}

.linkText {
    text-align: left;
    font-size: xx-large;
    font-family: "Oswald", sans-serif;
    color: whitesmoke;
    margin-bottom: 1vh;
    margin-top: 1vh;
    text-decoration: none; 
}

.sectionTitle {
    color: whitesmoke;
    font-family: "Oswald", sans-serif;
    font-size: xx-large;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-decoration: none;
}

.sectionDescription {
    color: whitesmoke;
    font-family: "Oswald", sans-serif;
    font-size: large;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-decoration: none;
    text-align: start;
}