#body {
    background: linear-gradient(#000000, #080808, #0f0f0f, #131313) ;
    padding: 3vh;
}
.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    color: black;
    background-color: red;
    border: 5px solid whitesmoke;
    border-radius: 20px;
}