:root{
    --fontTitle: "Roboto Condensed", sans-serif;
    --fontText: "Syne", sans-serif;
    --fontBottom: "Great Vibes", cursive;
}


#body {
    background: linear-gradient(#000000, #080808, #0f0f0f, #131313) ;
    padding: 3vh;
}
.container {
    text-align: center;
    flex-direction: column;
    margin: 0 5rem 0 5rem;
    color: white;
    width: 90vw;
}

.title{
    font-family: var(--fontTitle);
    font-size: 5rem;
}

.text{
    font-family: var(--fontText);
    font-size: 1.5rem;
}