#tsparticles {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../images/BannerTry.jpg");
}

.jersey-25-regular {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-container {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(black, #000000b3, #0000006e, transparent);
}

.navbar {

    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    width: 60%;
    height: 7vh;
    align-content: center;
    font-size: 25px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links {
    float: left;
}

.nav-links {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-links:hover {
    background-color: #ff7f0e;
    color: black;
    border-radius: 1rem;
}